<p>Hi <%= @user.name %>,</p>
<p>welcome to LeisureSphere!</p>
<p>You have successfully registered your account.</p>
<p>To get started, edit your profile and start following others so you can see the latest activities of your friends and like-minded people directly in your feed.</p>
<p>Thanks for joining and have a great day!</p>