<%= content_for(:title) { "LeisureSphere | Edit Comment" } %>

<main class="form">
	<h1>Edit your Comment</h1>
	
	<%= turbo_frame_tag "edit-comment-#{@comment.id}" do %>
		<%= render "comment_form", commentable: @commentable, comment: @comment %>
	<% end %>
</main>