<%= content_for(:title) { "LeisureSphere | Upload Image" } %> 
<main class="form image-post-form">
    <h1>Upload a new image </h1>
    
    <%= render "image_post_form", image_post: @image_post, submit_button_text: "Post Image" %>
</main>