/* Post and Comment form styles */
.form h1 {
	text-align: center;
	padding: 35px 15px 10px 15px;
}

.form textarea,
.form input {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form textarea {
	border: 4px solid var(--secondary);
	border-radius: 5px;
	padding: 10px 15px;
	margin-top: 1.5rem;
	width: 60vw;
	height: 35vh;
}

.submit {
	color: rgb(70, 95, 83);
	font-size: 1.125rem;
	margin-top: 30px;
	border: 2px solid var(--secondary);
	background-color: var(--secondary-opaque);
	border-radius: 25px;
	padding: 5px 15px;
	transition: background-color 0.15s;
	cursor: pointer;
}

.submit:hover {
	background-color: var(--secondary);
}

/* Style 'Edit' comment turbo frame below posts */

.post form {
	display: flex;
	gap: 0.75rem;
	align-items: start;
}

.post textarea {
	border: 2px solid var(--secondary);
	border-radius: 15px;
	padding: 5px 10px;
}

.post .submit {
	margin-top: 0;
	font-size: 0.875rem;
}

/* Image post form styles */

#image_post_body {
	background-color: white;
	margin-top: 1.5rem;
	padding: 10px 20px;
	border: 2px solid var(--secondary);
	border-radius: 25px;
}

.current-image-post {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	text-align: center;
}

.current-image-post p {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Edit#profile form styles*/

.edit-profile h1 {
	text-align: center;
	padding: 35px 15px 10px 15px;
}

.form-group {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
}

.form-field {
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
}

.form-group .form-field:last-child {
	display:flex;
	flex-direction: column;
}

.form-group .form-field:last-child label {
	text-align: center;
}

.form-field input,
.form-field textarea {
	border: 2px solid var(--secondary);
	flex: 1;
}

.form-field input {
	border-radius: 25px;
	padding: 5px 15px;
}

.form-field textarea {
	border-radius: 10px;
	padding: 10px 15px;
}

.profile-picture-section {
	background-color: white;
	border: 2px solid var(--secondary);
	border-radius: 10px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.75rem;
}

.profile-picture-section img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50px;
	flex-shrink: 0;
	flex-grow: 0;
}

.profile-picture-section > * {
	display:flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.form-group .submit {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profile-picture-section a {
	font-size: 0.875rem;
	color: rgb(70, 95, 83);
	background-color: var(--secondary-opaque);
	border: 2px solid var(--secondary);
	border-radius: 20px;
	padding: 5px 15px;
	transition: background-color 0.15s;
}

.profile-picture-section a:hover {
	text-decoration: none;
	background-color: var(--secondary);
	cursor: pointer;
}

#error_explanation h2 {
	font-family: "Inter var", sans-serif;
	font-size: 1rem;
}

#error_explanation li {
	font-size: 0.75rem;
}

#error_explanation {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: rgba(255, 0, 0, 0.664);
}