header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	background: white;
	padding: 10px 20px;
	align-items: center;
}

nav {
	display: flex;
	justify-content: center;
	gap: 15%;
}

header div:last-child {
	height: 100%;
}

header .button_to {
	justify-self: end;
	height: 100%;
}

header .button_to button {
	border: none;
	background-color: transparent;
	height: 100%;
}

nav a, header .button_to button  {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	border: 3px solid transparent;
	width: 70px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 10px;
	white-space: nowrap;
	transition: background-color 0.15s;
	transition: border 0.15s;
}

nav a:hover, header .button_to button:hover, 
nav a:focus, header .button_to button:focus {
	background-color: var(--primary);
	border: 3px solid var(--secondary);
} 

nav a p, header .button_to button p {
	line-height: 1;
	font-size: 0.875rem;
}

header .button_to button:hover, 
header .button_to button:focus {
	text-decoration: underline;
	cursor: pointer;
}

nav a:last-child img {
	border-radius: 15px;
	width: 30px;
	height: 30px;
}


