/* Styles for post header */

.post {
	background-color: white;
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px var(--box-shadow-color);
}

.post-header {
	display: flex;
	gap: 10px;
	align-items: center;
}

.post-meta-data {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.post-header .profile-picture, 
.post-header .menu-button img {
	width: fit-content;
	border-radius: 20px;
}

.post-header .profile-picture {
	width: 40px;
	height: 40px;
	object-fit: cover;
	flex-shrink: 0;
	flex-grow: 0;
}

.post-author a {
	font-size: 0.875rem;
	font-weight: 600;
	transition: 0.15s;
}

.post-date {
	color: rgba(0, 0, 0, 0.733);
	font-size: 0.75rem;
}

.menu-button-container {
	position: relative;
}

.menu-button {
	background-color: transparent;
	border:none;
}

.menu-button-container img:hover, 
.menu-button-container img:focus {
	box-shadow: var(--hover-shadow);
	cursor: pointer;
	transition: box-shadow 0.15s;
}

.menu-button-container .author-options {
	position: absolute;
	top: 20px;
	right: 0;
	background-color: rgb(231, 229, 229);
	width: fit-content;
	white-space: nowrap;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px var(--box-shadow-color-dark);
}

.author-options a {
	font-size: 0.875rem;
}

.author-options button {
	background-color: transparent;
	border: none;
	padding: 0;
	font-size: 0.875rem;
	cursor: pointer;
}

.author-options button:hover {
	text-decoration: underline;
} 

/* Styles for post body */

.post-body {
	padding-top: 15px;
	white-space: pre-wrap;
}

/* Styles for post likes */

.like-container {
	font-size: 0.875rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.like-container button {
	padding: 2px;
	border-radius: 8px;
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.like-container button:hover {
	box-shadow: var(--hover-shadow);
	cursor: pointer;
	transition: box-shadow 0.15s;
}

/* Styles for the post's comment section */

.add-comment {
	font-size: 0.875rem;
	display: block;
	text-align: right;
}

.comment-container {
	display: flex;
	gap: 5px;
	padding-top: 5px;
}

.comment-container .profile-picture {
	width: 35px;
	height: 35px;
	border-radius: 18px;
	object-fit: cover;
	flex-shrink: 0;
	flex-grow: 0;
}

.comment-information {
	background-color: rgba(218, 218, 218, 0.541);
	border-radius: 15px;
	padding: 5px 10px;
}

.commenter {
	font-size: 0.75rem;
	font-weight: 600;
}

.comment-body{
	font-size: 0.875rem;
	white-space: pre-wrap;
}

.comment-actions {
	display:flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	padding-left: 10px;
}

.button_to {
	display: flex;
	align-items: center;
}

.comment-actions a, .comment-actions button {
	color: rgb(170, 168, 168);
	font-size: 0.75rem;
	font-weight: 600;
}

.comment-actions button {
	border: none;
	background: transparent;
	padding: 0;
}

.comment-actions button:hover {
	text-decoration: underline;
	cursor: pointer;
}