/* Global styles */

body {
	background-color: rgba(189, 230, 189, 0.473);
  font-family: "Inter var", sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

.hidden {
	opacity:0;
	pointer-events: none;
}

.profile-picture {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.178);
}

/* Styles for Feed */
.feed-items{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
	width: clamp(500px, 33vw, 650px)
}

/* Styles for post item header */

.feed-item {
	background-color: white;
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178);
}

.post-header {
	display: flex;
	gap: 10px;
	align-items: center;
}

.post-meta-data {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.post-header .profile-picture, .post-header .menu-button img {
	width: fit-content;
	border-radius: 20px;
}

.post-author a {
	font-size: 14px;
	font-weight: 600;
	transition: 0.15s;
}

.post-date {
	color: rgba(0, 0, 0, 0.733);
	font-size: 12px;
}

.menu-button-container {
	position: relative;
}

.menu-button {
	background-color: transparent;
	border:none;
}

.menu-button-container img:hover, .menu-button-container img:focus {
	box-shadow: 1px 1px 4px rgba(116, 116, 116, 0.678);
}

.menu-button-container .author-options {
	position: absolute;
	top: 20px;
	right: 0;
	background-color: rgb(231, 229, 229);
	width: fit-content;
	white-space: nowrap;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(116, 116, 116, 0.808);
}

.author-options a {
	font-size: 14px;
}

.author-options button {
	background-color:  transparent			;
	border: none;
	padding: 0;
	font-size: 14px;
}

.author-options button:hover {
	text-decoration: underline;
} 

/* Styles for post body */

.post-body {
	padding-top: 15px;
}

/* Styles for post likes */

.like-container {
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.like-container button {
	padding: 2px;
	border-radius: 8px;
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.like-container button:hover {
	box-shadow: 1px 1px 4px rgba(116, 116, 116, 0.678);
}

/* Styles for the post's comment section */

.add-comment {
	font-size: 14px;
	display: block;
	text-align: right;
}

.comment-container {
	display: flex;
	gap: 5px;
}

.comment-container .profile-picture {
	border-radius: 18px;
}

.comment-information {
	background-color: rgba(218, 218, 218, 0.541);
	border-radius: 15px;
	padding: 5px 10px;
}

.commenter {
	font-size: 12px;
	font-weight: 600;
}

.comment-body{
	font-size: 14px;
}

.comment-actions {
	display:flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	padding-left: 10px;
}

.button_to {
	display: flex;
	align-items: center;
}

.comment-actions a, .comment-actions button {
	color: rgb(170, 168, 168);
	font-size: 12px;
	font-weight: 600;
}

.comment-actions button {
	border: none;
	background: transparent;
	padding: 0;
}

.comment-actions button:hover {
	text-decoration: underline;
}
