<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline (Preview:http://localhost:3000/rails/mailers) */
      body {
        background-color: rgba(189, 230, 189, 0.473);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Inter var", sans-serif; 
        line-height: 1.5;
        height: 100vh;
      }

      .mail-container {
        margin-top: 10vh;
        background-color: white;
        width: 40vw;
        height:fit-content;

        border: 5px solid rgba(125, 162, 144, 1);
        border-radius: 25px;
        padding: 15px 20px;
      }

      .mail-container img {
        min-width: 300px;
        width: 70%;
        max-width: 400px;
        margin: 0.5rem;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
